

.container {
  display: flex;
 flex-wrap: wrap;
 width: 100;
}

/* Dropdown knapp samt klass */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}


.dropdown {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: space-between;
}

/* Gör så att länkarna fälls ned */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* inställningar för länkar i menyn */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* färg med musen över */
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
/* bakrundsfärgen på item*/
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.navbar {
  display: flex;
  width: 100%;
  background-color: rgb(151, 144, 144);
  justify-content: space-around;

}
.list {
  display: flex;
  justify-content: center;
}

.item {
  width: 200px;
  margin-bottom: 2%;
  margin-top: 0%;

  
}
h1 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.rolex {
  display: flex;
  justify-content: center;
}
.text {
  margin-right: 50%;
  margin-top: 0%;
}
.container-b {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-b {
  width: 48%;
  height: 100px;
  margin-bottom: 2%;
  background-color: aqua;
}

.item:nth-child(3n) {
  width: 100%;
}

.containeri {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: space-between;
  align-items: center;
}
.itemi {
  width: 30%;
  height: 300px;
  background-color:rgb(0, 0, 0);
  margin: 5px;
  
}
.itempictures {
  height: 80%;
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 10%;
  margin-right: 10%;
  width: 80%;
}
.itempictures:hover {
  -webkit-filter: brightness(50%);
}
.products {
  background-color: #3e8e41;
}
.bracelet {
  display: flex;
  justify-content: center;
}
li { 
list-style: none;
}
.containerC {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.itemC {
  width: 48%;
  height: 100px;
  margin-bottom: 2%;
  background-color: beige;

}

.itemC:nth-child(3n) {
  width: 100%;
  background-color: beige;
}
.itemtext {
  display: flex;
  justify-content: center;
}
body { 
  background-color: gray;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 16px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

