.body {  
  display: flex;
  justify-content: space-around;
  margin: 0ch;
  background-color: #3e8e41;
}

.container {
  display: flex;
 flex-wrap: wrap;
 width: 100;
}

/* Dropdown knapp samt klass */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}


.dropdown {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: space-between;
}

/* Gör så att länkarna fälls ned */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* inställningar för länkar i menyn */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* färg med musen över */
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
/* bakrundsfärgen på item*/
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.navbar {
  display: flex;
  width: 100%;
  background-color: rgb(151, 144, 144);
  justify-content: space-around;

}
.list {
  display: flex;
  justify-content: center;
}

.item {
  width: 200px;
  margin-bottom: 2%;
  margin-top: 0%;
}
h1 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.rolex {
  display: flex;
  justify-content: center;
}
.text {
  margin-right: 50%;
  margin-top: 0%;
}